.game_form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding-top: 1rem;
  background-color: #37474f;
}

#select-inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  background-color: #37474f;
  overflow: hidden;
}

.user-color {
  -webkit-appearance: none;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  font-size: 1rem;
}

.round_submit {
  -webkit-appearance: none;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #229954;
  font-size: 1rem;
  color: #fff;
  outline: none;
}

.round_submit:hover,
.user_color:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.user_color:focus {
  background-color: #666;
  color: #fff;
}
