#nav-container {
  background-color: #444;
  margin-bottom: 1rem;
}

#main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 3rem;
  padding: 0 2rem;
}

#nav-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}

#nav-expand {
  position: relative;
  border: none;
  background: none;
  z-index: 2;
  :hover {
    cursor: pointer;
    color: #ddd;
  }
}

#nav-expand-icon {
  font-size: 2rem;
  color: #fff;
}

#nav-dropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  z-index: 5;
}

.dropdown-link {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  background-color: #333;

  :hover {
    background-color: #555;
    cursor: pointer;
  }
  // text-align: center;
}

#nav-links {
}

.nav-link {
  border-radius: 0.5rem;
  background-color: #555;
  padding: 0.5rem;
  margin-left: 2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.nav-link:hover {
  cursor: pointer;
  background-color: #333;
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
}
