// Rules

#game_rules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  place-self: center;
  padding: 2rem;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  background-color: #444;
}

#rules-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

#rules-list {
  list-style: decimal;
}

.rule {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #fff;
  line-height: 2;
}

#rules-button {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  background-color: #27ae60;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#rules-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

// multi

.multi_box {
  background-color: #37474f;
  padding: 2rem;
  border: 0.1rem solid #000;
  border-radius: 0.5rem;
  position: fixed;
  top: 25%;
}

#multi-title {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

.spacer {
  margin: 1rem 0;
}
