.left_half {
  text-align: center;
}

.left_box {
}

.game_info {
}

.game_rules {
  text-align: left;
  padding: 2vh;
}

footer {
  height: 2%;
}

.main_title {
  font-size: 10vh;
  padding: 1%;
  margin-bottom: 5%;
  font-weight: bold;
  text-decoration: underline;
}

.title_box,
.multi_box {
  background-color: #37474f;
  height: 50%;
  width: 70%;
  margin: auto;
  padding: 2%;
  text-align: center;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
}

.title_choice {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  border: solid black 0.4vh;
  margin: 5%;
  box-shadow: inset 0 0 1vh #000000;
}

.single_choice,
.multi_choice {
  height: 50%;
  padding: 2%;
  color: white;
}

.multi_choice {
  border-top: solid black 0.4vh;
}

.multi_box {
  padding: 8%;
}
