@import "./reset";
@import "./controls";
@import "./gameboard";
@import "./navbar";
@import "./pages";
@import "./message";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #34495e;
  border-radius: 0.5rem;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
