@import "./reset";
@import "./controls";
@import "./gameboard";
@import "./navbar";
@import "./pages";
@import "./message";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/vincentiu-solomon-ln5drpv_ImI-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  display: grid;
  height: 100%;
}

#game {
  place-self: center;
  display: flex;
  flex-direction: column;
  border: 0.5rem solid #37474f;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  max-height: 40rem;
  width: 96%;
  max-width: 22rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 24px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 2000px) {
  html {
    font-size: 26px;
  }
}
