@import "./reset";
@import "./controls";
@import "./gameboard";
@import "./navbar";
@import "./pages";
@import "./message";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #aaa;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hidden {
  display: none;
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 18px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}
