  <nav id="main-nav">
    <h1 id="nav-title">Mastermind</h1>
    <button id="nav-expand" class="hide"><i class="fas fa-bars" id="nav-expand-icon"></i></button>
    <span id="nav-dropdown" class="hide">
      <a href="/newgame" class="dropdown-link">New Game</a>
      <a href="/multi" class="dropdown-link">New Multiplayer Game</a>
      <a href="/rules" class="dropdown-link">Game Rules</a>
    </span>
    <div id="nav-links" class="hide">
      <a href="/newgame" class="nav-link">New Game</a>
      <a href="/multi" class="nav-link">New Multiplayer Game</a>
    </div>
  </nav>
  <div class="overlay hide" id="overlay">
  </div>
