  <nav id="main-nav">
    <h1 id="nav-title">Mastermind</h1>
    <button id="nav-expand">Click</button>
    <div id="nav-links" class="hide">
      <a href="/" class="nav-link">Title Screen</a>
      <a href="/new_game" class="nav-link">New Game</a>
      <a href="/multi" class="nav-link">New Multiplayer Game</a>
    </div>
  </nav>
  <div id="overlay" class="hide">
  </div>