    <div class="game_rules">
      <h2>Rules</h2>
      <ul>
        <li>Each round the player must guess 4 colors</li>
        <li>The pegs on the right give feedback based on your guess:</li>
        <li>A red peg is a correct color in the correct position</li>
        <li>A white pegs is a correct color in an incorrect position</li>
        <li>There can be duplicate colors</li>
        <li>Have fun!</li>
      </ul>
    </div>

    <div class="game_info">
  <h2> Round # <%= NEWGAME.round_count%> </h2><br/>
  <h2><%= NEWGAME.message %></h2>
</div>