<div class="main_menu">
  <h1>Welcome!</h1>
  <p>This is mastermind! The game where you try to guess the secret code in 12 moves or less to win the game!</p>
  
  <button onclick="document.location.href = '/game'">Start Game!</button>  
</div>