<div class="title_box">
  <h1 class="main_title">Mastermind!</h1> 
  <h2>Game By Kgilla</h2>
  <div class="title_choice">
    <a href="/game" class="single_choice">Single Player</a>
    <a href="/multi" class="multi_choice">Multiplayer</a>
  </div>
</div>