<div class="title_box">
  <div class="main_title">
    <h1 class="main_title">MasterMind!</h1> 
    <h2>Game By Kgilla</h2>
  </div>
  <div class="title_choice">
    <div class="left_choice">
      <button><a href="/game">Single Player</a></button>
    </div>
    <div class="right_choice">
      <button><a href="/game">Single Player</a></button>
    </div>
  </div>
</div>