<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="/images/screenshots/Screen Shot 2020-10-15 at 2.10.56 PM.png"/>
  <title>Mastermind!</title>
  <link rel="icon" type="image/png" href="/images/favicon.ico"/>
  <link rel="stylesheet" href="/css/main.css"/>
  <script src="https://kit.fontawesome.com/643e5a8a38.js" crossorigin="anonymous"></script>
</head>
<body>
  <header id="nav-container">
    <%= erb :'_navbar'%>
  </header>
  <main id="main">
    <%= yield %>
  </main>
  <script type="module" src="/javascript/main.js"></script>

</body>
</html>
