<!DOCTYPE html>
<html>
<head>
  <title>Mastermind!</title>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>
  <header>
    <h1>Mastermind</h1>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
  </footer>
</body>
</html>