<!DOCTYPE html>
<html>
<head>
  <title>Mastermind!</title>
  <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
  <header>
    <%= erb :'_navbar'%>
  </header>
  <main>
    <%= yield %>
      <script src="/javascript/main.js"></script>
  </main>
  <footer>
  </footer>
</body>
</html>
