<div class="multi_box">
  <h1 id="multi-title">Choose Your Secret Code</h1>
  <form class="game_form" method='POST' action='/multi'>
   <div id="select-inputs">
      <% (0..3).each do |i| %>
        <select class="user-color" name="user_color_<%= i %>">
          <% GAME.colors.each_pair do |k, v|%>
              <option value=<%=v%> name=<%=k%>><%= k %></option>
          <%end%>
        </select> 
      <% end %>
      </div>
    <input class="round_submit spacer" type="submit" value="Enter!" href="/multi"/>  
  </form>
</div>