  <div id="game_rules">
    <h2 id="rules-title">Rules</h2>
    <ul id="rules-list">
      <li class="rule">Each round the player must guess 4 colors</li>
      <li class="rule">The pegs on the right give feedback based on your guess</li>
      <li class="rule">A red peg is a correct color in the correct position</li>
      <li class="rule">A white pegs is a correct color in an incorrect position</li>
      <li class="rule">There can be duplicate colors</li>
      <li class="rule">Have fun!</li>
    </ul>
      <a href="/newgame" id="rules-button">Let's Play!</a>
  </div>
