body {
  display: block;
  background-color: #00695c;
  height: 100vh;
  width: 100vw;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3vh;
}

header {
  height: 2%;
}

.nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c2c50;
}

.nav_item {
  float: left;
}

.nav_title {
  display: block;
  color: white;
  text-align: center;
  margin: auto;
  padding: 2.5vh;
  text-decoration: none;
  outline: none;
}

a {
  outline: none;
}

a:hover {
  background-color: #2c2c50;
  text-decoration: none;
  color: white;
  outline: none;
}

main {
  display: flex;
  height: 96%;
  width: 70%;
  margin: auto;
  padding: auto;
}

.left_half {
  font-size: 2vh;
  width: 65%;
  text-align: center;
  padding: 3% 5% 3% 5%;
}

.left_box {
  background-color: #37474f;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
}

.game_info {
  font-weight: bold;
  padding: 5%;
}

.game_form {
  padding: 2%;
}

.user_color {
  font-size: 2.5vh;
  text-align: center;
  font-weight: bold;
  border: 0.1vh black solid;
  background-color: white;
  border-radius: 2vh;
  padding: 2%;
  margin: 1%;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
}

.round_submit {
  font-size: 3vh;
  font-weight: bold;
  margin: 5vh;
  border: 0.1vh black solid;
  border-radius: 2vh;
  padding: 2vh;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
  outline: none;
}

.round_submit:hover,
.user_color:hover {
  background-color: #2c2c50;
  color: white;
}

.game_rules {
  text-align: left;
  padding: 2vh;
}

.right_half {
  display: flex;
  width: 35%;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
}

.game_board {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(1, 1fr);
  width: 80%;
  background-color: #37474f;
}

.round_pegs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 0.1vh black solid;
  padding: 1%;
}

.colored_peg {
  border: black solid 0.3vh;
  border-radius: 50%;
  box-shadow: inset 0 0 1vh #000000;
  margin-left: 10%;
  margin-right: 10%;
}

.game_board_key {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(1, 1fr);
  width: 20%;
  background-color: #2c2c50;
}

.round_keys {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border: 0.1vh black solid;
  padding: 5%;
}

.key_peg {
  border: black solid 0.3vh;
  box-shadow: inset 0 0 1vh #000000;
  border-radius: 50%;
  margin: 5% 10% 5% 10%;
}

footer {
  height: 2%;
}

.main_title {
  font-size: 10vh;
  padding: 1%;
  margin-bottom: 5%;
  font-weight: bold;
  text-decoration: underline;
}

.title_box,
.multi_box {
  background-color: #37474f;
  height: 50%;
  width: 70%;
  margin: auto;
  padding: 2%;
  text-align: center;
  box-shadow: 0 1.8vh 1.6vh -1.6vh black;
}

.title_choice {
  display: flex;
  flex-direction: column;
  font-size: 3vh;
  border: solid black 0.4vh;
  margin: 5%;
  box-shadow: inset 0 0 1vh #000000;
}

.single_choice,
.multi_choice {
  height: 50%;
  padding: 2%;
  color: white;
}

.multi_choice {
  border-top: solid black 0.4vh;
}

.multi_box {
  padding: 8%;
}